<!DOCTYPE html>
<html>
  <head>
    <title>SeeFood</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #recipes {
        margin: auto;
        text-align: center;
      }
      #map {
        height: 92%;
      }
      img {
        display: inline-block
        padding-left: 1%;
        padding-right: 1%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #F5F5F5
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="recipes"></div>
    <script>
      var params = (new URL(document.location)).searchParams;
      var q = params.get("q");
      $.ajax({                                                                            
      type: 'GET',
       url: 'https://api.yummly.com/v1/api/recipes?q='+q+'&_app_id=0829ddab&_app_key=444106fc217ae8db6fe67e0581a78741',
       dataType: 'JSONP',
       success: function(data) {
          console.log(data)
          var images = '';
          for(var i = 0; i < data.matches.length; i++) {
            images += '<a href="https://www.yummly.com/recipe/' + data.matches[i].id + '" target="_blank"><img src="' + data.matches[i].smallImageUrls[0] + '"/></a>';
          }
          document.getElementById('recipes').innerHTML = images;
        },
       error: function(data, data2) { console.log(data); },                                          
      });
    </script>
    <div id="map"></div>
    <script>
      function initMap() {
        if (navigator.geolocation) { //GEO LOCATION, FINDS USERS LOCATION
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            map = new google.maps.Map(document.getElementById('map'), {
              center: myLocation,
              zoom: 13
            });
            infoWindow = new google.maps.InfoWindow({
              map: map
            });
            map.setCenter(pos);
            var myLocation = pos; //Sets variable to geo location long and lat co-ordinates.

            var service = new google.maps.places.PlacesService(map);
            service.textSearch({
              location: myLocation, //Uses geolocation to find the following
              radius: 10000,
              query: ['food+'+q]
            }, callback);
          })
        };
      }

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < 4; i++) {
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }

      initMap();
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlQ9CvFhgayrrzGM4jj9Qu0H9Z0c6luJM&libraries=places&callback=initMap"></script>
  </body>
</html>